<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
  
    <nav>
        <a id="indexLink" href="/furnishings">Find what's available</a>
        <% if (user) { %>
        <a id="newLink" href="/furnishings/new">Make a new posting</a>
        <a href="/logout">Log out</a>
        <% } else { %>
            <a href="/auth/google" class="login">Log in&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
          <% } %>
    </nav>
