<%- include("./partials/header")  %>



<div class="central-window">
    <br>
    <h1><b>Welcome to Furnish LA</b> </h1>
    <br>
    <h2><em>LA has the best-furnished streets in the world.</em></h2>
    <p>
    Sidewalks lined with nice wooden shelving units, families of chairs from which to watch chainlink fences,
    and enough street tables to hold block parties every week.
    </p>
    <h2><em>
        Streets don't need furniture. People do.
        </em></h2>
    <p>
    If only there were a way to get it under the noses of the people who
     could benefit most.
    </p>
    <h2><em>Enter <b>Furnish LA.</b></em></h2>
    <p>
    Here, anyone and everyone can post the details and location of any street
    furniture they see, and we can make sure that shelters, charities and
    those most in need get wind of it.
    </p>
    
    <br>



</div>


<%- include("./partials/footer")  %> 