<%- include("./partials/header")  %>



<div id="welcome">

    <h1>Welcome to Furnish LA</h1>
    <br><br>
    <h2>LA has the most furnished streets I've ever seen</h2>
    <p>
    You can't go more than three blocks without seeing a nice 
    wooden shelving unit, a dining chair looking down its nose 
    at the rolling deskchair next to it, and enough wooden pallets
    to soak up the tar pits.
    </p>
    <p>
    If only there were a way to get it under the noses of the people who
     could benefit most.
    </p>
    <h2>Enter Furnish LA</h2>
    <p>
    Here, anyone and everyone can post the details and location of any street
    furniture they see, and we can make sure that shelters, charities and
    those most in need get wind of it.
    </p>
    <p>
    Streets don't need furniture. People do. Please help us get it the
    right way round.</p>



</div>


<%- include("./partials/footer")  %> 