<%- include("../partials/header")  %>

<div id="listDiv">

<h2>Available furnishings</h2>

<table id="list">
    
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Quality</th>
        <th> Zipcode</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
      </tr>
      </tbody>
    </table>
<br><br>

</div>

<%- include("../partials/footer")  %> 